<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.com.recpic">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Recpic">
        <activity
            android:name=".HomeScreen.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Recpic.NoActionBar">
        </activity>

        <activity android:name=".LaucherScreen.activity.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".SignupScreen.activity.SignupActivity" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".LoginScreen.activity.LoginActivity" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".SignupScreen.activity.ForgotPasswordActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ProfileScreen.ProfileActivity" android:screenOrientation="portrait"/>
        <activity android:name=".NoteScreen.activity.AddNoteActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>